/* 전체 페이지 스타일 */
body {
  background-color: #dce2e8;
}

/* 마이페이지 컨테이너 스타일 */
.mypageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  padding: 0px 30px 30px;
  background: #ffffff;
  border-radius: 10px;
}

/* 제목 섹션 스타일 */
.subjectSection {
  background-color: #f3f3f3;
  width: 760px;
  height: 76px;
  border-radius: 10px 10px 0px 0px;
}
.subjectSection h2 {
  color: black;
  text-align: left;
  margin: 0;
  padding: 20px;
}

/* 정보 및 알림 섹션 스타일 */
.infoSection,
.alertSection {
  width: 100%;
  margin-top: 30px;
  background: #ecf1f6;
  border-radius: 8px;
}

/* 섹션 헤더 스타일 */
.infoHeader,
.alertHeader {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  align-items: center;
}
.infoHeader h3,
.alertHeader h3 {
  text-align: left;
  padding: 15px 30px 15px 50px;
  color: rgb(24, 24, 24);
}

/* 수정 버튼 스타일 */
.editBtn {
  background-color: #cbcdd1;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}
.editBtn:hover {
  background-color: #78797a;
}
.editBtn:focus {
  outline: none;
}

/* 회원 정보 스타일 */
.info {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 30px;
  column-gap: 35px;
  padding: 50px;
  padding-top: 30px;
}
.info p {
  display: contents;
}
.info strong {
  text-align: left;
  color: #333;
}
.info span {
  text-align: left;
  color: #555;
}

/* 회원 탈퇴 스타일 */
.withdrawText {
  align-self: center;
  color: #696969;
  font-weight: 600;
  font-size: 14px;
}
.deleteBtn {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 70px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}
.deleteBtn:hover {
  background-color: #a1a3a4;
  color: black;
}
.deleteBtn:focus {
  outline: none;
}

/* 탈퇴 확인 모달 스타일 */
.confirmModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 9999; /* 값 증가 */
}
.confirmTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* 모달 내 버튼 스타일 */
.confirmModal .saveBtn {
  margin-right: 15px;
}

/* 저장 버튼 스타일 */
.saveBtn {
  background-color: #cbcdd1;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}
.saveBtn:hover {
  background-color: #78797a;
}
.saveBtn:focus {
  outline: none;
}

/* 취소 버튼 스타일 */
.cancelBtn {
  background-color: #000000;
  color: rgb(253, 253, 253);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}
.cancelBtn:hover {
  background-color: #a1a3a4;
  color: black;
}
.cancelBtn:focus {
  outline: none;
}

/* 토글 스위치 버튼 스타일 */
.toggleSwitch {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0;
}

/* 슬라이더(버튼)의 기본 스타일 */
.toggleSwitch .slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  transition: transform 0.3s ease; /* 슬라이더 이동에 부드러운 전환 효과 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 슬라이더에 그림자 효과 */
}

/* 활성화된 상태의 스위치 스타일 */
.toggleSwitch.on {
  background-color: #9bbbcd;
  outline: none;
}

/* 활성화된 상태의 슬라이더 이동 */
.toggleSwitch.on .slider {
  transform: translateX(30px);
  outline: none;
}

/* 비활성화된 상태의 스위치 스타일 */
.toggleSwitch.off {
  background-color: #ccc;
  outline: none;
}

/* 알림 설정 내용 레이아웃 */
.alertContent {
  display: grid;
  grid-template-columns: 120px 1fr;
  row-gap: 30px;
  column-gap: 400px;
  padding: 50px;
  padding-top: 30px;
  align-items: center;
}

/* 강하게 표시된 텍스트 스타일 */
.alertContent strong {
  color: rgb(0, 0, 0);
  text-align: left;
}

/* 입력 필드 스타일 */
.inputField {
  border-radius: 5px;
  color: #ffffff;
  background-color: #54565e;
  padding: 5px;
  border: none;
  outline: none;
}

/* 비밀번호 변경 버튼 스타일 */
.changePasswordBtn {
  background-color: #cbcdd1;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 90px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none; /* 포커스시 아웃라인 없음 */
}

/* 비밀번호 변경 버튼 hover 상태 */
.changePasswordBtn:hover {
  background-color: #78797a;
}

/* 비밀번호 변경 버튼 focus 상태 */
.changePasswordBtn:focus {
  outline: none;
}

/* 버튼 컨테이너 스타일 */
.buttonContainer {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

/* 모달 배경 */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 배경 어둡게 처리 */
  display: flex;
  justify-content: center; /* 모달을 수평 중앙에 배치 */
  align-items: center; /* 모달을 수직 중앙에 배치 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

/* 모달 콘텐츠 */
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* 모달 제목 */
.modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 600;
  margin-bottom: 50px;
}

/* 비밀번호 입력 필드 */
.modalInput {
  width: 70%;
  height: 15px;
  padding: 7px;
  border-radius: 5px;
  background-color: #0d0d0d;
  border: none;
  outline: none;
}

/* 오류 메시지 컨테이너 */
.errorMsgContainer {
  width: 73%;
  min-height: 30px;
  display: flex;
}

/* 오류 메시지 스타일 */
.errorMsg {
  color: rgb(215, 30, 30);
  font-size: 9px;
  font-weight: bold;
}

/* 모달 버튼 영역 */
.modalButtons {
  margin-top: 30px;
}

/* 확인 버튼 스타일 */
.modalButtonSave {
  background-color: #cbcdd1;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
  margin-right: 15px;
}

/* 확인 버튼 호버 효과 */
.modalButtonSave:hover {
  background-color: #78797a;
}

/* 확인 버튼 포커스 효과 */
.modalButtonSave:focus {
  outline: none;
}

/* 취소 버튼 스타일 */
.modalButtonBack {
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
  outline: none;
}

/* 취소 버튼 호버 효과 */
.modalButtonBack:hover {
  background-color: #a1a3a4;
  color: black;
}

/* 취소 버튼 포커스 효과 */
.modalButtonBack:focus {
  outline: none;
}
